/* colors */

:root {
    --black1: #2B2C2E;
    --gray1: #9FA2A7;
    --black2: #27282A;
    --gray2: #848689;
    --darkGray: #3D3E41;
    --white: #fff;
}

/* fonts */

@font-face {
    font-family: 'graMed';
    src: url(../fonts/Graphik-Medium.ttf);
}

@font-face {
    font-family: 'graReg' ;
    src: url(../fonts/Graphik-Regular.woff);
}

@font-face {
    font-family: 'thein' ;
    src: url(../fonts/Theinhardt-Lt.woff);
}

@font-face {
    font-family: 'tiem' ;
    src: url(../fonts/TiemposHeadline-Semibold.woff);
}

/* default website start */

#hero p:nth-of-type(2),
p,
li {
    font-family: 'thein';
}

header a,
#hero p:nth-of-type(1),
h4 {
font-family: 'graMed';
}

header nav,
h3 {
    font-family: 'graReg';
}

h1,
h2 {
    font-family: 'tiem';
}

h2 {
    font-size: 3rem;
}

h4 {
    font-size: 1.5rem;
}

p,
li,
span {
    font-size: 1.2rem;
}

li {
    color: var(--gray2);
}

h2,
h4,
nav li {
    color: var(--black1);
}

ul {
    list-style: none;
}

/* default website end */



/* header start */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul {
    padding: 0%;
}

header li {
    display: inline-flex;
    padding-right: 2vw;
}

header h1 {
    margin-right: 10vw;
}

header a {
    text-decoration: none;
    border: 1px solid var(--black1);
    border-radius: 5px;
    color: var(--black1);
    padding: 1vh 3vw;
    transition: .5s;
}

header a:hover {
    background-color: var(--black1);
    color: var(--white);
}

/* header end */


/* hero start */

#hero h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 10vh auto 8vh;
}

#hero img {
    width: 100vw;
}

#hero aside {
    display: flex;
    align-items: center;
}

#hero p:nth-of-type(1) {
    width: 50vw;
    line-height: 3vh;
    margin: 20vh 5vw 20vh 10vw;
}

#hero p:nth-of-type(2) {
    font-size: 4rem;
}

#hero span {
    display: flex;
    width: 15vw;
    color: var(--gray1);
}

/* hero end */



/* deliverables start */

#deliVer {
    display: flex;
}

#deliVer img {
    margin-left: 10vw;
    height: 100%;
    width: 40%;
}

#deliVer ul {
    width: 60%;
    margin-right: 10vw;
}

#deliVer h2 {
    margin-top: 0;
}

/* deliverables end */



/* howItWorks start */

#howItWorks {
    background-color: #F1F1F4;
    margin: 10vw;
    display: flex;
    align-items: center;
}

#howItWorks ul {
    width: 40vw;
    padding-left: 3.5vw;
}

#howItWorks h2 {
    margin: 2vh auto;
}

#howItWorks img {
    width: 40vw;
    height: 100%;
}

/* howItWorks end */



/* critique start */

#critique {
    text-align: center;
    color: var(--gray1);
}

#critique p {
    line-height: 5vh;
}

#critique > img {
    margin: 12.5vh auto 0;
    width: 100%;
}

#critique aside {
    position: relative;
}

#critique aside p {
    font-family: 'graMed';
    color: var(--gray2);
    text-align: left;
    margin-left: 20vw;
    margin-top: -3vh;
}

#critique aside img {
    position: absolute;
    width: 40vw;
    top: -7vh;
}

/* critique end */


/* footer start */

footer {
    text-align: center;
    margin-top: 20vh;
    padding: 0 10vw ;
}

footer h2 {
    border-top: 1px solid var(--black2);
    padding-top: 10vh;
}

footer p {
    font-family: 'graMed';
    font-size: 1rem;
    color: var(--gray1);
    margin-bottom: 5vh;
}

footer a {
    text-decoration: none;
    color: var(--darkGray);
}

footer img {
    width: 10%;
}

/* footer end */